{% extends 'layout.html' %}
{% block body %}
<h2>What is a Convolutional Neural Network?</h2>

<p>
    Before we tell you what it is, think about how you are seeing this webpage
    right now. How does your brain know what a computer or a website look like?
    Well its because you have <strong>learned</strong> (since your youth) what
    a computer is. You also know that a your smartphone and a piece of
    rectangular cardboard (of roughly the same shape) are two distinct objects.
    But naively, you can think of them as having dimensions and are therefore
    the same. To an extreme, you also managed to learn nuanced differences; say
    between an <strong>Android phone</strong> and an <strong>iPhone</strong>
    even though they are quite similar sometimes.
</p>

<p>
    Convolutional neural networks are a form of <strong>deep learning</strong>
    meaning that the computers model very <strong>complex features</strong>
    and are fed <strong>LOTS of data</strong>. Over time, the computer learns
    how to discriminate between images, sounds, DNA or just about any data you
    can think about. With the cheap cost of computational power of
    <strong>graphics processing units</strong> nowadays (thanks, gamers!), we
    can afford to build very complex models which are increasingly better than
    traditional machine learning models. These models have layers upon layers
    upon layers of abstraction making it very good at learning very complex
    things. Today, convolutional neural networks are running many popular
    social media sites which use image classification (like Google, Facebook,
    Snapchat, and so on).
</p>

<div class="centered">
    <img class="img-three-quarter"
         src="{{url_for('static',filename='images/cnn2.jpeg')}}"
         alt="ConvNets">
</div>

<p>
    Convolutional neural networks uses a bunch of filters (think Instagram!)
    which allows it to easily detect corners and edges in an image. Not only
    that; deep in the network the neural network can detect entire faces by
    combining filters heirarchically. It's like pieceing together a <strong>
    very large puzzle</strong> from <strong>very small pieces</strong> and then
    guessing what that puzzle is. What kinds of filters do we need to select
    for the neural network? Nothing! In fact, the convolutional neural network
    will learn these filters as they go along, creating the <strong>best</strong>
    filter to be able to classify whatever image it was trained to see.
</p>

<div class="centered">
    <img class="img-three-quarter"
         src="{{url_for('static',filename='images/cnn.jpeg')}}"
         alt="ConvNets2">
</div>

<h2>How was this made?</h2>
<p>
    We scraped some images of fashionable items from the UAE Souq.com website
    and trained a convolutional neural network. The libraries we used include
    <strong>Keras</strong>, <strong>TensorFlow</strong> and a lot of GPU power.
    This web application is made using <strong>Flask</strong> and
    <strong>Python</strong>.
</p>
{% endblock %}
