{% extends 'layout.html' %}
{% block body %}
<p>Upload an image and let the convolutional neural net classify your image!</p>

<p>
  This is a pretty simple app, so images which are not square in dimensions
  will be scaled down and center cropped
</p>

<p>Possible labels: camera, glasses, headphone, laptop, mouse, shoes, smartphone, watch</p>

<form action="/" method="post" enctype="multipart/form-data">
  <input type="file" name="image" id="image">
  <input class="pure-button pure-button-primary" type="submit" value="Submit">
</form>
{% endblock %}
