{% extends 'layout.html' %}
{% block body %}
<p><strong>Snap an image and let the Convolutional Neural Network classify it!</strong></p>

<p>
  If it is not working too well, make sure the object takes up most of the
  center and try to get a plain background.
</p>

<p>Possible labels: camera, glasses, headphone, laptop, mouse, shoes, smartphone, watch</p>

<div id="camera" style="margin:0 auto;"></div>
<div class="centered">
  <button class="pure-button pure-button-primary" id="snap">Snap!</button>
</div>

<form action="/" id="upload-form" method="post" enctype="multipart/form-data">
  <input type="hidden" name="image" id="image-data">
</form>
{% endblock %}
